.Transaction {
    width: 100%;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Transaction img {
    width: 80px;
    height: 75px;
    background-color: rgb(160, 213, 243);
    padding: 30px;
    border-radius: 10px;
}

.container1,
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Match both containers */
    padding: 8px 0;
    /* Add equal padding */
}

.timedata {
    display: flex;
    gap: 8px;
    /* Better than margin for spacing */
}

.timedata {
    display: flex;
}

.amount {
    font-weight: bold;
}

.confirmed,
.pending,
.denied {
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

.confirmed {
    background-color: rgb(121, 248, 121);
    color: green;
}

.pending {
    background-color: rgb(255, 255, 133);
    color: rgb(206, 206, 0);
}

.denied {
    background-color: rgb(255, 126, 126);
    color: red;
}