
/* 
 * File: Review.css
 * Date: 2025-04-24
 * Team: WebFusion
 * Members: Nevathan, Liyu, Adrian, Abishan
 *
 * Description:
 * Styles for the Review component, including layout, typography, star icons,
 * and author information display.
 */

 
.Review {
    padding-top: 18px;
    padding-bottom: 10px;
    padding-right: 20%;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 8px;
}

.authorinfo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.authorinfo img {
    width: 60px;
    height: 60px;
}

.authorname {
    font-size: 15px;
    color: rgb(138, 138, 138);
    font-weight: bold;
}

.date {
    font-size: 15px;
    color: rgb(172, 172, 172);
}

.starReview {
    display: flex;
    gap: 3px;
}

.star {
    width: 20px;
    height: 20px
}
