@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F7FA;  /* Light gray/blue background */
  color: #333;                /* Default text color */
  line-height: 1.5;
}

.App {
  padding-bottom: 10px;
}

.tile {
  display: flex;
}

.Nav {
  width: 14%;
}

.Dashboard, .Profile {
  flex-grow: 0.9;
  margin-left: 30px;
}